<nav class="navbar navbar-expand-md navbar-dark nav-bar-fixed-top bg-dark">
    <a class="navbar-brand" href="#">::: {{ titulo }} :::</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li {% if app.request.get('_route') == 'listado' %} class="nav-item active" {% else %} class="nav-item"
                {% endif %}>
                <a class="nav-link" href="listado">Listado<span class="sr-only">(current)</span></a>
            </li>
            <li {% if app.request.get('_route') == 'alta' or app.request.get('_route') == 'nuevaPersona' %} class="nav-item active" {% else %} class="nav-item"
                {% endif %}>
                <a class="nav-link" href="alta">Alta</a>
            </li>
            <li {% if app.request.get('_route') == 'baja' %} class="nav-item active" {% else %} class="nav-item"
                {% endif %}>
                <a class="nav-link" href="baja">Baja</a>
            </li>
            <li {% if app.request.get('_route') == 'modifica' %} class="nav-item active" {% else %} class="nav-item"
                {% endif %}>
                <a class="nav-link" href="modifica">Modificación</a>
            </li>
        </ul>
    </div>
</nav>