{% extends 'base.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block contenido %}
{{ parent() }}
<p>{{ titulo }}. Nada más que añadir por ahora</p>
{% endblock %}
{% block pie %}
{{ parent() }}
{% endblock %}