{% extends 'base.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block cabecera %}
<h1>{{ titulo }}</h1>
{% endblock %}

{% block contenido %}
{{ parent() }}
<p>Nada m치s que a침adir por ahora</p>
{% endblock %}
{% block pie %}
{{ parent() }}
<p>Nada m치s que a침adir por ahora</p>
{% endblock %}