{% extends 'base.html.twig' %}

{% block titulo %}{{ titulo }}{% endblock %}

{% block contenido %}
{{ parent() }}
<p>{{ titulo }}. Nada m치s que a침adir por ahora</p>
{% endblock %}
{% block pie %}
{{ parent() }}
<p>Nada m치s que a침adir por ahora</p>
{% endblock %}