{% extends 'base.html.twig' %}

{% block titulo %}Controlador de productos{% endblock %}

{% block contenido %}
<div class="container-fluid">
    
    <div class="alert alert-success">
        <h1>Este es el cuerpo</h1>
        <h2>¡Hola {{ controller_name }}!</h2>
        Esta página es la plantilla por defecto asociada al controlador de productos, y se genera en estos ficheros:
        <ul>
            <li>El controlador <code><a href="{{ 'C:/xampp/htdocs/Symfony/gestorProductos/src/Controller/ProductosController.php'|file_link(0) }}">src/Controller/ProductosController.php</a></code></li>
            <li>La plantilla <code><a href="{{ 'C:/xampp/htdocs/Symfony/gestorProductos/templates/productos/index.html.twig'|file_link(0) }}">templates/productos/index.html.twig</a></code></li>
        </ul>
    </div>
</div>
{% endblock %}
